a{
	color:white;
}
body { font-family: arial, helvetica, sans-serif; color: #FFFFFF; margin: 
        0px; background-image: url(../Image/fondo2.jpg)}
        h2 { font-size: 22px; font-weight: bold; color: red; text-decoration: 
        underline; 
        text-align: center; }
        h3 { font-size: 17px; font-weight: bold; color: red; text-decoration: 
        underline; 
        text-align: center; }
         h5 { font-size: 14px; font-weight: bold; color: red; text-decoration: 
        underline; 
        text-align: center; }